@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    background-color:lightblue;
    height: 10vh;
}
button{
    width: 10%;
    height: 50%;
    margin-top: 1%;
    background-color: lightblue;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}